/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
   --background:  oklch(0.141 0.005 285.823);
   --foreground:  oklch(0.985 0 0);
   --card:  oklch(0.21 0.006 285.885);
   --card-foreground:  oklch(0.985 0 0);
   --popover:  oklch(0.21 0.006 285.885);
   --popover-foreground:  oklch(0.985 0 0);
   --primary:  oklch(0.648 0.2 131.684);
   --primary-foreground:  oklch(0.986 0.031 120.757);
   --secondary:  oklch(0.274 0.006 286.033);
   --secondary-foreground:  oklch(0.985 0 0);
   --muted:  oklch(0.274 0.006 286.033);
   --muted-foreground:  oklch(0.705 0.015 286.067);
   --accent:  oklch(0.274 0.006 286.033);
   --accent-foreground:  oklch(0.985 0 0);
   --destructive:  oklch(0.704 0.191 22.216);
   --border:  oklch(1 0 0 / 10%);
   --input:  oklch(1 0 0 / 15%);
   --ring:  oklch(0.405 0.101 131.063);
   --chart-1:  oklch(0.871 0.15 154.449);
   --chart-2:  oklch(0.723 0.219 149.579);
   --chart-3:  oklch(0.627 0.194 149.214);
   --chart-4:  oklch(0.527 0.154 150.069);
   --chart-5:  oklch(0.448 0.119 151.328);
   --sidebar:  oklch(0.21 0.006 285.885);
   --sidebar-foreground:  oklch(0.985 0 0);
   --sidebar-primary:  oklch(0.768 0.233 130.85);
   --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
   --sidebar-accent:  oklch(0.274 0.006 286.033);
   --sidebar-accent-foreground:  oklch(0.985 0 0);
   --sidebar-border:  oklch(1 0 0 / 10%);
   --sidebar-ring:  oklch(0.405 0.101 131.063);
}

@font-face {
  font-family: "Atkinson";
  src: url("/henry-blog/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/henry-blog/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--foreground);
  font-size: 20px;
  line-height: 1.7;
}
main {
  width: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--primary);
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--foreground);
  text-decoration: none;
}
a:hover {
  color: var(--muted-foreground);
  transition: color 0.2s;
}
p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

thead {
  background-color: var(--muted);
}

th {
  padding: 6px 12px;
  text-align: left; 
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

td {
  padding: 6px 12px;
  border-bottom: 2px solid var(--muted);
}

tr:last-child td {
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 5px 5px;
  background-color: var(--muted);
  color: var(--muted-foreground);
  border-radius: 5px;
  font-size: 0.85em;
}

.expressive-code {
  margin-block: 3rem;
}

.expressive-code svg {
  flex-shrink: 0;
  width: 1rem !important;
  height: 1rem !important;
  display: inline-block;
}
.expressive-code [class*="title"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

pre {
  padding: 1em;
  border-radius: 8px;
  font-size: 0.85em;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--muted-foreground);
  margin-block: 3rem;
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
  h1 {
  font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.9em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
