---
import BaseHead from '../components/layout/BaseHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Sidebar from '../components/layout/Sidebar.astro';
import ScrollToTopButton from '../components/ScrollToTopButton.astro';
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<div class="container">
			<Sidebar />
			<main>
				<slot />
			</main>
			<slot name="right-sidebar" />
		</div>
		<Footer />
		<ScrollToTopButton />
	</body>
</html>

<style>
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.container {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(auto, 800px) minmax(0, 1fr);
	gap: 5rem;
	width: 100%;
	max-width: 100%;
	margin: 0;
	flex: 1;
	margin: 3rem 0 3rem 0;
}

main {
	grid-column: 2;
	width: 100%;
	min-width: 0;
}

:global(.sidebar) {
	grid-column: 1;
	justify-self: end; 
}

:global([slot="right-sidebar"]) {
	grid-column: 3;
	justify-self: start;
}

@media (max-width: 720px) {
	.container {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		margin: 0 auto;
	}
	
	main {
		width: 100%;
	}
	
	:global(.sidebar) {
		width: 100%;
		justify-self: stretch;
	}
}
</style>